<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date and Time</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div class="container">
        <h1>The current time and date:</h1>
        <div class="time-container">
            @ViewBag.Time;
        </div>
    </div>
</body>
</html>