*{
    font-family: cursive;
}
.title{
    background-color: #F8E6C5
}
.title h6{
    font-family: cursive;
}
.main-content{
    background-image: url(./img/background.jpg);
}

.form-group label{
    font-size: large;
}

.carousel-inner{
    max-height: 400px;
}

.randomContainer{
    /* margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem; */
}