<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="upper-content border-bottom p-4 row">
            <div class="upper-left-form col-6">
                <form action="/process/dojo" method="POST">
                    {% csrf_token %}
                    <h1>Add a Dojo</h1>
                    <div class="form-group">
                        <label for="dojo-name" class="col-sm-3">Name</label>
                        <input type="text" name="dojo-name" class="col-sm-6">
                    </div>
                    <div class="form-group">
                        <label for="dojo-city" class="col-sm-3">City</label>
                        <input type="text" name="dojo-city" class="col-sm-6">
                    </div>
                    <div class="form-group">
                        <label for="dojo-state" class="col-sm-3">State</label>
                        <input type="text" name="dojo-state" class="col-sm-6">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class="upper-right-form col-6">
                <form action="/process/ninja" method="POST">
                    {% csrf_token %}
                    <h1>Add a Ninja</h1>
                    <div class="form-group">
                        <label for="ninja-first-name" class="col-sm-3">First Name</label>
                        <input type="text" name="ninja-first-name" class="col-sm-6">
                    </div>
                    <div class="form-group">
                        <label for="ninja-last-name" class="col-sm-3">Last Name</label>
                        <input type="text" name="ninja-last-name" class="col-sm-6">
                    </div>
                    <div class="form-group">
                        <label for="ninja-dojo" class="col-sm-3">Dojo</label>
                        <select name="ninja-dojo" class="form-control col-sm-6">
                            {% for dojo in all_the_dojos %}
                            <option value="{{dojo.name}}">{{dojo.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
        <div class="lower-content mt-2 text-align-center">
            <h1>All the Dojos</h1>
            {% for dojo in all_the_dojos %}
            <form action="/deleteDojo/{{dojo.name}}" method="POST">
                {% csrf_token %}
                Ninjas at the {{dojo.name}} - {{dojo.ninjas.all | length }}
                <button type="submit">Delete</button>
                <ul>
                    {% for ninja in dojo.ninjas.all %}
                    <li>{{ninja.first_name}} {{ninja.last_name}}</li>
                    
                    {% endfor %}
                </ul>
            </form>
            {% endfor %}
        </div>
    </div>
</body>
</html>