@model List<Chef>
<div class="text-right">
    <a href="/new">Add a Chef</a>
</div>
<div class="row">
    <div class="col-8">
        <p class="border-bottom pb-3">Check out our roster of Chefs</p>
        <div class="list mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col"># of Dishes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Chef chef in Model)
                    {
                        <tr>
                            <th>@chef.FirstName @chef.LastName</th>
                            <th>@{int age = DateTime.Now.Year - chef.Birthdate.Year;}@age</th>
                            @{
                                int returnStatement = 0;
                                if(chef.CreatedDishes != null)
                                {
                                    returnStatement = chef.CreatedDishes.Count();
                                }
                            }
                            <th>@returnStatement</th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
