@model IndexViewModel

<div class="text-center">
    <h1>Add a new Dish!</h1>
</div>
<div class="text-left">
    <a href="/">Home</a>
</div>
<form asp-action="CreateDish" asp-controller="Home" method="POST">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <span asp-validation-for="Dish.Name"></span>
                <label asp-for="Dish.Name"></label>
                <input class="form-control" asp-for="Dish.Name">
            </div>
            <div class="form-group">
                <span asp-validation-for="Dish.Calories"></span>
                <label asp-for="Dish.Calories"></label>
                <input class="form-control" asp-for="Dish.Calories">
            </div>
            <div class="form-group">
                <span asp-validation-for="Dish.Description"></span>
                <label asp-for="Dish.Description"></label>
                <textarea class="form-control" asp-for="Dish.Description" rows="6"></textarea>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <span asp-validation-for="Dish.ChefId"></span>
                <label asp-for="Dish.ChefId"></label>
                <select class="form-control" asp-for="Dish.ChefId">
                @foreach(Chef chef in Model.AllChefs)
                {
                    <option value="@chef.ChefId">@chef.FirstName @chef.LastName @chef.ChefId</option>
                }
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <span asp-validation-for="Dish.Tastiness"></span>
                <label asp-for="Dish.Tastiness"></label>
                <select class="form-control" asp-for="Dish.Tastiness">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Add Dish</button>
    </div>
</form>