<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
</head>
<body>
    <h1>Here are some delicious foods!</h1>
    @{
        string[] foods = {
            "Apple Pie",
            "Burritos",
            "Clams Casino",
            "Donuts"
        };
    }
    @foreach(string food in foods)
    {
        @if(food.StartsWith('C')){
            <span style="color:red">@food</span>;
        }
        else
        {
            <p>@food</p>;
        }
    }

</body>
</html>