<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container p-3">
        <div class="header text-right">
            <a href="/shows/{{show.id}}">Go Back</a>
        </div>
        <h1 class="mb-5">Edit Show {{show.id}}</h1>
        <form action="/new/create" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="show_title">Title</label>
                <input type="text" name="show_title" class="form-control" value="{{show.title}}">
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="updated_network">Network</label>
                    <input type="text" name="updated_network" class="form-control col-9" value="{{show.bound_network}}">
                    <!-- <select name="network_id" class="form-control ">
                        {% for network in all_the_networks %}
                        <option value="{{network.id}}">{{network.name}}</option>
                        {% endfor %}
                    </select> -->
                </div>
                <div class="form-group col-6">
                    <label for="release_date">Release Date</label>
                    <input type="date" name="release_date" class="form-control col-9" value="{{show.release_date|date:'Y-m-d'}}">
                </div>
            </div>
            <div class="form-group">
                <label for="show_desc">Description</label>
                <textarea class="form-control" name="show_desc" rows="3">{{show.desc}}</textarea>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
        <div class="text-center">
            <a href="/shows/{{show.id}}">Go to Show</a>
        </div>
    </div>
</body>
</html>