<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <div class="navbar">
        <a href="/">Home</a> | 
        <a href="/projects">Projects</a> | 
        <a href="/contact">Contact</a>
    </div>
    <div class="container">
        <h1>Here are some projects of mine!</h1>
        <div class="project-group">
            <img src="~/images/first_ninja.jpg" alt="">
            <div class="project-desc">
                <p>First Project</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id varius elit.</p>
            </div>
        </div>
        <div class="project-group">
            <img src="~/images/second_ninja.jpg" alt="">
            <div class="project-desc">
                <p>Second Project</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id varius elit.</p>
            </div>
        </div>
        <div class="project-group">
            <img src="~/images/third_ninja.jpg" alt="">
            <div class="project-desc">
                <p>Third Project</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id varius elit.</p>
            </div>
        </div>
        
    </div>
</body>
</html>