<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="navbar navbar-light bg-light border-bottom pb-2 mb-5 d-flex justify-content-between">
        <h1>Welcome, {{userName}}!</h1>
        <a href="/books/logout">Log Out</a>
    </div>
    <div class="container">
        <div class="main-content d-flex justify-content-between">
            <form action="/books/{{book.id}}/edit" method="POST" class="form">
                {% csrf_token %}
                {% for message in messages %}
                {% if message.extra_tags == 'updated_title' %}
                    <span class="col-sm-12 text-danger d-block pl-0">{{message}}</span>
                {% endif %}
                {% endfor %}
                <h3><input type="text" name="updated_title" class="form-control" value="{{book.title}}"></h3>
                <p>Added By: {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}}</p>
                <p>Added On: {{book.created_at}}</p>
                <p>Last updated on: {{book.updated_at}}</p>
                {% for message in messages %}
                {% if message.extra_tags == 'updated_desc' %}
                    <span class="col-sm-12 text-danger d-block pl-0">{{message}}</span>
                {% endif %}
                {% endfor %}
                <p>Description: 
                    <textarea name="updated_desc" class="form-control" rows="3">{{book.desc}}</textarea>
                </p>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="/books/{{book.id}}/delete" class="btn btn-outline-danger">Delete</a>
                </div>
            </form>
            <div class="users-who-likes">
                <h3>Users Who LIke This Book:</h3>
                <ul>
                    {% for user in users_who_like_book %}
                        <li class="ml-2">{{user.first_name}} {{user.last_name}}</li>
                    {% endfor %}
                </ul>
                <a href="/books/{{book.id}}/unlike" class="mt-3">Un-Favorite</a>
            </div>
        </div>
    </div>
</body>
</html>