<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="navbar navbar-light bg-light border-bottom pb-2 mb-5 d-flex justify-content-between">
        <h1>Welcome, {{user.first_name}}!</h1>
        <a href="/books/logout">Log Out</a>
    </div>
    <div class="container">
        <h1>Favorite Books</h1>
        <ul>
            {% for book in favorite_books %}
            <li>{{book.title}}</li>
            <a href="/books/{{book.id}}/unlike">Un-Favorite</a>
            {% endfor %}
        </ul>
    </div>
</body>
</html>